header{
    margin-top: 20px;
}
.center{
    height: 90%;
    width: 50%;
    margin: 0px auto;
}
img{
    display: block;
    padding: 20px;
    width: 50%;
    margin: 0px auto;
}
#search-bar{
    width: 100%;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 20px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li {
    float: left;
  }
  li a{
      display: block;
      text-decoration: none;
      color: black;
      padding: 10px;
      font-size: 0.9em;
  }
  li a:hover{
      text-decoration: underline;
  }
  #Sign-In-Button{
      background-color: #4285f4;
      border-radius: 6px;
      color: white;
  }
  #Sign-In-Button:hover{
      text-decoration: none;
  }
  footer{
      color: grey;
  }